# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
vs/.vs/Pemrograman_Game/v16/.suo
vs/.vs/Pemrograman_Game/v16/Browse.VC.db
vs/.vs/Pemrograman_Game/v16/Browse.VC.opendb
vs/.vs/Pemrograman_Game/v16/ipch/AutoPCH/7e61430372b87672/DEMO.ipch
vs/.vs/Pemrograman_Game/v16/ipch/AutoPCH/911664b8333b9603/DEMO.ipch
vs/.vs/Pemrograman_Game/v16/Solution.VC.db
vs/.vs/Pemrograman_Game/v16/Solution.VC.db-shm
vs/.vs/Pemrograman_Game/v16/Solution.VC.db-wal
vs/.vs/slnx.sqlite
vs/.vs/vs/v16/.suo
vs/Debug/Lesson01.ilk
vs/Debug/Lesson01.pdb
vs/Debug/Lesson08.ilk
vs/Debug/Lesson08.pdb
vs/Lesson01/Debug/Lesson01.log
vs/Lesson01/Debug/Lesson01.tlog/CL.command.1.tlog
vs/Lesson01/Debug/Lesson01.tlog/CL.read.1.tlog
vs/Lesson01/Debug/Lesson01.tlog/CL.write.1.tlog
vs/Lesson01/Debug/Lesson01.tlog/Lesson01.lastbuildstate
vs/Lesson01/Debug/Lesson01.tlog/link.command.1.tlog
vs/Lesson01/Debug/Lesson01.tlog/link.read.1.tlog
vs/Lesson01/Debug/Lesson01.tlog/link.write.1.tlog
vs/Lesson01/Debug/vc142.idb
vs/Lesson01/Debug/vc142.pdb
vs/Lesson01/Lesson01.vcxproj
vs/Lesson02/Lesson02.vcxproj
vs/Lesson02/Lesson02.vcxproj.user
vs/Lesson03/Lesson03.vcxproj
vs/Lesson03/Lesson03.vcxproj.user
vs/Lesson04/Lesson04.vcxproj
vs/Lesson04/Lesson04.vcxproj.user
vs/Lesson05/Lesson05.vcxproj
vs/Lesson05/Lesson05.vcxproj.user
vs/Lesson06/Lesson06.vcxproj
vs/Lesson06/Lesson06.vcxproj.user
vs/Lesson07/Lesson07.vcxproj
vs/Lesson07/Lesson07.vcxproj.user
vs/Lesson08/Debug/Lesson08.log
vs/Lesson08/Debug/Lesson08.tlog/CL.command.1.tlog
vs/Lesson08/Debug/Lesson08.tlog/CL.read.1.tlog
vs/Lesson08/Debug/Lesson08.tlog/CL.write.1.tlog
vs/Lesson08/Debug/Lesson08.tlog/Lesson08.lastbuildstate
vs/Lesson08/Debug/Lesson08.tlog/link.command.1.tlog
vs/Lesson08/Debug/Lesson08.tlog/link.read.1.tlog
vs/Lesson08/Debug/Lesson08.tlog/link.write.1.tlog
vs/Lesson08/Debug/vc142.idb
vs/Lesson08/Debug/vc142.pdb
vs/Lesson08/Lesson08.vcxproj
vs/Lesson08/Lesson08.vcxproj.user
vs/OpenGL_Engine/OpenGL_Engine.vcxproj
vs/OpenGL_Engine/OpenGL_Engine.vcxproj.filters
vs/OpenGL_Engine/OpenGL_Engine.vcxproj.user
*.log
*.log
*.log
vs/Lesson01/Debug/Lesson01.log
vs/Lesson01/Lesson01.vcxproj
